In [2]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('DataFrame').getOrCreate()

22/09/18 13:17:11 WARN Utils: Your hostname, MacBooks-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.33 instead (on interface en0)
22/09/18 13:17:11 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/18 13:17:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
spark

In [8]:
df_pyspark=spark.read.csv('/Users/macbookpro/Desktop/git/spark-exercise/test1_example.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  mahsa| 31|        10| 30000|
|   sara| 30|         8| 25000|
| hanieh| 29|         4| 20000|
|  atefe| 24|         3| 20000|
|shabnam| 21|         1| 15000|
| bahare| 23|         2| 18000|
+-------+---+----------+------+

#### Filter Operations

In [9]:
#Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
| hanieh| 29|         4| 20000|
|  atefe| 24|         3| 20000|
|shabnam| 21|         1| 15000|
| bahare| 23|         2| 18000|
+-------+---+----------+------+

In [10]:
df_pyspark.filter("age<=24").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  atefe| 24|         3| 20000|
|shabnam| 21|         1| 15000|
| bahare| 23|         2| 18000|
+-------+---+----------+------+

In [15]:
df_pyspark.filter("Experience=2").select(['Name','Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
|bahare|         2|
+------+----------+

In [16]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | 
                  (df_pyspark['Salary']>=15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  mahsa| 31|        10| 30000|
|   sara| 30|         8| 25000|
| hanieh| 29|         4| 20000|
|  atefe| 24|         3| 20000|
|shabnam| 21|         1| 15000|
| bahare| 23|         2| 18000|
+-------+---+----------+------+

In [17]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & 
                  (df_pyspark['Salary']>=15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
| hanieh| 29|         4| 20000|
|  atefe| 24|         3| 20000|
|shabnam| 21|         1| 15000|
| bahare| 23|         2| 18000|
+-------+---+----------+------+

In [18]:
#not operation
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|mahsa| 31|        10| 30000|
| sara| 30|         8| 25000|
+-----+---+----------+------+