# pyspark basic introduction

In [37]:
import pyspark

In [38]:
import pandas as pd

In [39]:
type(pd.read_csv('/Users/macbookpro/Desktop/Pyspark-With-Python-main/test1_example.csv'))

pandas.core.frame.DataFrame

In [40]:
pd.read_csv('/Users/macbookpro/Desktop/Pyspark-With-Python-main/test1_example.csv')

      Name  age  Experience  Salary
0    mahsa   31          10   30000
1     sara   30           8   25000
2   hanieh   29           4   20000
3    atefe   24           3   20000
4  shabnam   21           1   15000
5   bahare   23           2   18000

In [41]:
from pyspark.sql import SparkSession

In [42]:
#create sparrksession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [43]:
spark

In [44]:
df_pyspark=spark.read.csv('/Users/macbookpro/Desktop/Pyspark-With-Python-main/test1_example.csv')

In [45]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [46]:
df_pyspark.show()

+-------+---+----------+------+
|    _c0|_c1|       _c2|   _c3|
+-------+---+----------+------+
|   Name|age|Experience|Salary|
|  mahsa| 31|        10| 30000|
|   sara| 30|         8| 25000|
| hanieh| 29|         4| 20000|
|  atefe| 24|         3| 20000|
|shabnam| 21|         1| 15000|
| bahare| 23|         2| 18000|
+-------+---+----------+------+

In [47]:
df_pyspark=spark.read.option('header','true').csv('/Users/macbookpro/Desktop/Pyspark-With-Python-main/test1_example.csv')

In [48]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [49]:
df_pyspark.head(4)

[Row(Name='mahsa', age='31', Experience='10', Salary='30000'),
 Row(Name='sara', age='30', Experience='8', Salary='25000'),
 Row(Name='hanieh', age='29', Experience='4', Salary='20000'),
 Row(Name='atefe', age='24', Experience='3', Salary='20000')]

In [50]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)