#### Pyspark GroupBy And Aggregate Functions

In [47]:
from pyspark.sql import SparkSession

In [48]:
spark =SparkSession.builder.appName('Agg').getOrCreate()

In [49]:
spark

In [50]:
df_pyspark=spark.read.csv('/Users/macbookpro/Desktop/git/spark-exercise/test3_eample.csv',header=True,inferSchema=True)

In [51]:
df_pyspark.show()

+------+------------+------+
|  Name| Departments|salary|
+------+------------+------+
|  mina|Data Science| 10000|
|  mina|         IOT|  5000|
| mahsa|    Big Data|  4000|
|  mina|    Big Data|  4000|
| mahsa|Data Science|  3000|
|  sara|Data Science| 20000|
|  sara|         IOT| 10000|
|  sara|    Big Data|  5000|
|hanieh|Data Science| 10000|
|hanieh|    Big Data|  2000|
+------+------------+------+

In [52]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [53]:
df_pyspark.head(3)

[Row(Name='mina', Departments='Data Science', salary=10000),
 Row(Name='mina', Departments='IOT', salary=5000),
 Row(Name='mahsa', Departments='Big Data', salary=4000)]

In [54]:
#Groupby
df_pyspark.groupBy('Name')

In [55]:
#Groupby
#Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum()

DataFrame[Name: string, sum(salary): bigint]

In [56]:
df_pyspark.groupBy('Name').sum().show()
#sara received maximun salary

+------+-----------+
|  Name|sum(salary)|
+------+-----------+
|  sara|      35000|
| mahsa|       7000|
|hanieh|      12000|
|  mina|      19000|
+------+-----------+

In [57]:
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [58]:
df_pyspark.groupBy('Name').avg().show()

+------+------------------+
|  Name|       avg(salary)|
+------+------------------+
|  sara|11666.666666666666|
| mahsa|            3500.0|
|hanieh|            6000.0|
|  mina| 6333.333333333333|
+------+------------------+

In [59]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [60]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [61]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [62]:
df_pyspark.groupBy('name').max().show()

+------+-----------+
|  name|max(salary)|
+------+-----------+
|  sara|      20000|
| mahsa|       4000|
|hanieh|      10000|
|  mina|      10000|
+------+-----------+

In [63]:
df_pyspark.groupBy('name').min().show()

+------+-----------+
|  name|min(salary)|
+------+-----------+
|  sara|       5000|
| mahsa|       3000|
|hanieh|       2000|
|  mina|       4000|
+------+-----------+