In [81]:
from pyspark.sql import SparkSession

In [82]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [83]:
spark

In [84]:
#read the dataset
df_pyspark=spark.read.option('header','true').csv('/Users/macbookpro/Desktop/Pyspark-With-Python-main/test1_example.csv')

In [85]:
df_pyspark

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [86]:
#Check the schema(datatypes)
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [87]:
df_pyspark.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  mahsa| 31|        10| 30000|
|   sara| 30|         8| 25000|
| hanieh| 29|         4| 20000|
|  atefe| 24|         3| 20000|
|shabnam| 21|         1| 15000|
| bahare| 23|         2| 18000|
+-------+---+----------+------+

In [88]:
#add inferSchema=True for type
df_pyspark=spark.read.option('header','true').csv('/Users/macbookpro/Desktop/Pyspark-With-Python-main/test1_example.csv',inferSchema=True)

In [89]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [90]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

#### Selecting Columns And Indexing

In [91]:
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In [92]:
df_pyspark.head

In [93]:
df_pyspark.head(4)

[Row(Name='mahsa', age=31, Experience=10, Salary=30000),
 Row(Name='sara', age=30, Experience=8, Salary=25000),
 Row(Name='hanieh', age=29, Experience=4, Salary=20000),
 Row(Name='atefe', age=24, Experience=3, Salary=20000)]

In [94]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [95]:
df_pyspark.select(['Name','Experience'])

DataFrame[Name: string, Experience: int]

In [96]:
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
|  mahsa|
|   sara|
| hanieh|
|  atefe|
|shabnam|
| bahare|
+-------+

In [97]:
#for slicing columns
df_pyspark.select(['Name','Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|  mahsa|        10|
|   sara|         8|
| hanieh|         4|
|  atefe|         3|
|shabnam|         1|
| bahare|         2|
+-------+----------+

In [98]:
type (df_pyspark.select(['Name','Experience']))

pyspark.sql.dataframe.DataFrame

In [99]:
df_pyspark['name']
#df_pyspark['Experience']

Column<'name'>

In [100]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [101]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, age: string, Experience: string, Salary: string]

In [102]:
df_pyspark.describe().show()

+-------+-------+------------------+-----------------+------------------+
|summary|   Name|               age|       Experience|            Salary|
+-------+-------+------------------+-----------------+------------------+
|  count|      6|                 6|                6|                 6|
|   mean|   null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|   null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|  atefe|                21|                1|             15000|
|    max|shabnam|                31|               10|             30000|
+-------+-------+------------------+-----------------+------------------+

In [103]:
#Adding Columns in data frame
df_pyspark= df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [104]:
df_pyspark.show()

+-------+---+----------+------+-----------------------+
|   Name|age|Experience|Salary|Experience After 2 year|
+-------+---+----------+------+-----------------------+
|  mahsa| 31|        10| 30000|                     12|
|   sara| 30|         8| 25000|                     10|
| hanieh| 29|         4| 20000|                      6|
|  atefe| 24|         3| 20000|                      5|
|shabnam| 21|         1| 15000|                      3|
| bahare| 23|         2| 18000|                      4|
+-------+---+----------+------+-----------------------+

In [105]:
#Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [106]:
df_pyspark.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  mahsa| 31|        10| 30000|
|   sara| 30|         8| 25000|
| hanieh| 29|         4| 20000|
|  atefe| 24|         3| 20000|
|shabnam| 21|         1| 15000|
| bahare| 23|         2| 18000|
+-------+---+----------+------+

In [110]:
#Rename the columns
df_pyspark=df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+------+
|New Name|age|Experience|Salary|
+--------+---+----------+------+
|   mahsa| 31|        10| 30000|
|    sara| 30|         8| 25000|
|  hanieh| 29|         4| 20000|
|   atefe| 24|         3| 20000|
| shabnam| 21|         1| 15000|
|  bahare| 23|         2| 18000|
+--------+---+----------+------+